.user-page-container-outer  {
    max-width: 990px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 55px;
    display: flex;
    margin-left: 30%;
    height: 100%;
    background: 0 0;
    transition: none;
    position: relative;
    transform: none;
}

.inner-user-page-container{
    width: 100%;
    max-width: 625px;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    border-radius: 0;
 

}

.top-part-user-page{
    background-color: white;
    color: black;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    overflow: hidden;
}

.entire-body-part-for-user-page{
    box-sizing: border-box;
    background-color: white;
    color: black;
    max-width: 580px;
    width: 100%;
    border-radius: 8px;
    flex-direction: column;
    flex: auto;
    display: flex;
}

.background-of-user-page{
    background:rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.user-page-info{
    pointer-events: none;
    margin-bottom: -86px;
    position: relative;
    top: -86px;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
}

.header-image-container{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 326.25px;
    display: block;
    overflow: hidden;
    word-break: break-word;
    text-decoration: none;
}

.header-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.user-page-header{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-picture-container{
    width: 96px;
    height: 96px;
    position: relative;
    border-radius: 50%;

    background-color: white;
    border: 4px solid white;
    pointer-events: all;
    margin-bottom: 10px;

}

.user-page-profile-image{
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;   
    width: 96px;
    height: 96px;
    
    border-radius: 50%;
}

.profile-image{
    width: 100%;
    line-height: 0;
    position: relative;
    padding-bottom: 100%;
    object-fit: cover;
}

.title-label {
    font-size: 1.625rem;
    line-height: 1.3077;
    font-weight: bold;
    font-family: Gibson;
}

.username-container{
    margin: 8px 0;
    display: block;
}

.username-label{
    color: #00b8ff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

}
.bio-container{
    position: relative;
}

.bio-label{
    max-height: 74px;
    overflow-wrap: anywhere;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: max-height 50ms;
    position: relative;
    overflow: hidden;

    color: black;
    white-space: pre-line;
    text-align: center;
    width: 100%;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.edit-profile-button-container> button{

    align-items: stretch;
    margin: 16px 0 0;
    display: flex;
 
}

.the-button-container> button{
    width: 100%;
    vertical-align: top;
  

}

.edit-profile-button-container>* {
 margin-bottom: 12px;
}

.the-link-to-the-button > button{
    border-radius: 20px;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 6px 15px;
    font-size: 1rem;
    font-weight: 700;
    height: 35px;
    color: white;
    background: #00b8ff;
    border: none;
    text-decoration: none;
    padding-top: 6px;

    justify-content: center;
    align-items: center;

    display: flex;
    cursor: pointer;
}

.span-button-container> button{
    width: 100%;
    vertical-align: top;
   
}

.middle-part-user-page{
    box-sizing: border-box;
    border-bottom: 1px solid #00b8ff;
    height: 40px;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 20px;
    display: flex;
    position: relative;
}

.user-page-nav-bar{
    width: auto;
    position: absolute;

    width: 100%;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    color: #00b8ff;

    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.333;
    display: flex;
    overflow: hidden;
}

.user-page-post{
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.users-liked-post{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.who-the-user-is-following{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
   
}

.user-page-post-clicked{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: inset 0px -2px 0px #00b8ff;
    cursor: pointer;
}

.users-liked-post-clicked{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: inset 0px -2px 0px #00b8ff;
    cursor: pointer;
}

.who-the-user-is-following-clicked{
    text-overflow: ellipsis;
 
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: inset 0px -2px 0px #00b8ff;
    cursor: pointer; 

}

/* .bottom-part-user-page{
    width: 100%;
    max-width: 540px;
    flex-direction: column;
    align-self: center;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
} */
.user-post-feed-container{
    margin-top: 20px;

    max-width: 540px;
    flex-direction: column;
    align-self: center;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.inside-the-container{
    width: 100%;
    overflow-anchor: none;
    margin-top: 0;
}

/* .user-page-post-hidden{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: inset 0px -2px 0px #00b8ff;
    cursor: pointer;
    visibility: hidden;
}


 */

 .who-the-user-is-following-hidden{

    visibility: hidden;
    height: 0px;
}

.who-the-user-is-following-visible{
    text-overflow: ellipsis;
    white-space: clip;
    margin-bottom: -1px;
    padding: 6px 12px 10px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: inset 0px -2px 0px #00b8ff;
    cursor: pointer;
}

.user-post-feed-container-hidden{
    margin-top: 20px;
    visibility: hidden;
    height: 0px;

}

.post-div-container{
    height: 0%;
}
.users-liked-post-hidden{
    height: 0px;
    cursor: pointer;
    visibility: hidden;
}

/* .bottom-part-user-page{} */

