.create-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-create{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.errors {
    display: block;
    color: red;
    height: 300px;
}

.form-for-create-post {
    height: 400px;
}
