/* TODO Add site wide styles */
body {
   
    font: inherit;
    vertical-align: baseline;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background: #081c34;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

button {
    border: none;
    background: none;
    height: 30px;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    color: white;
    background: #081c34;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

ol, ul {
    list-style: none;

}

label{
    color: white;
}

