/* TODO Add site wide styles */
body {
    background-color: #081c34;
    font: inherit;
    vertical-align: baseline;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;

}

button {
    border: none;
    background: none;
height: 20px;
font-family:  "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;;
color: white;
    background: #081c34;
    border-radius: 3px;
    border: none;
margin-bottom: 10px;

    margin-top: 5px;
}

ol, ul {
    list-style: none;

}

label{
    color: white;
}