/* TODO Add site wide styles */
body {
    background-color: #081c34;
    font: inherit;
    vertical-align: baseline;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;

}

button {
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

ol, ul {
    list-style: none;

}

label{
    color: white;
}