.log-in-form-container{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.log-in-container{
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;
    position: relative;
}

.input-top-part{
    width: 100%;
    margin-bottom: 6px;
    border-bottom: none;
    border-radius: 10px;
    color: lightgray;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 11px 13px;
    font-size: 16px;
    line-height: 1.4;
}

.the-form-container{
    width: 380px;
}

.full-logo-splash-page{
    width: 274px;
    height: 56px;
    margin-top: 10%;
  
    
    padding: 0;
}
body {
    color: lightgray;
}