.log-in-form-container{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.log-in-container{
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;
    position: relative;
}

.input-top-part{
    width: 100%;
    margin-bottom: 6px;
    border-bottom: none;
    border-radius: 10px;
    color: black;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 11px 13px;
    font-size: 16px;
    line-height: 1.4;
}

.the-form-container{
    width: 380px;
}

.full-logo-splash-page{
    width: 274px;
    height: 56px;
    margin-top: 10%;
  
    
    padding: 0;
}
body {
    color: black;
    background-color: #081c34;
}
.login-buttons-css{
    padding: 6px 15px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    background: #00b8ff;
    border-radius: 3px;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
}