.create-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-for-create-post{
    cursor: pointer;
    background: none;
    border: none;
}

.image-to-your-feed{
    height: 150px;
}


.button-to-create-post{
  background: none;  
  margin-left: 200px;
  position: relative;
}