.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.splash-page-top{
  z-index: 100;
  width: 100%;
  background: 0 0;
  border: none;
  position: absolute;
  top: 0;
}

.splash-page-nav{
  height: 54px;
  width: 100%;
  max-width: 1716px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 22px;
  padding-right: 20px;
  display: flex;
}

.splash-page-nav-left-side{
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.splash-page-nav-right-side{
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.splash-page-logo-d{
  width: 40px;
  height: 33px;
}

.splash-page-login-button-a{
  padding: 6px 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background: #00b8ff;
  border-radius: 3px;
  border: none;

}
.login-hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.splash-page-login-button-b{
  padding: 6px 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background: #00cf35;
  border-radius: 3px;
  border: none;

}

.full-logo-splash-page{
  width: 264px;
  height: 60px;
 margin-right: 350px;
 margin-top: 500px;

}