.profile-dropdown {
  position: absolute;
    background: white;
    margin-top: 150px;
    height: 100px;
    border-radius: 5px;
    width: 170px;
    padding: 0;
  
}

.hidden {
  display: none;
}

.splash-page-top{
  z-index: 100;
  width: 100%;
  background: 0 0;
  border: none;
  position: absolute;
  top: 0;
}

.splash-page-nav{
  height: 54px;
  width: 100%;
  max-width: 1716px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 22px;
  padding-right: 20px;
  display: flex;
}

.splash-page-nav-left-side{
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.splash-page-nav-right-side{
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.splash-page-logo-d{
  width: 40px;
  height: 33px;
}

.splash-page-login-button-a{
  padding: 6px 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background: #00b8ff;
  border-radius: 3px;
  border: none;

}
.login-hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.splash-page-login-button-b{
  padding: 6px 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background: #00cf35;
  border-radius: 3px;
  border: none;

}

.navigation-profile-button{
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-bar-logged-in{
    z-index: 100;
    background-color:inherit;
    box-sizing: border-box;
    height: 55px;
    border-bottom: 1px solid gray;
  margin: 0;
    position: sticky;
    top: 0;
}
.links-on-the-nav{
  height: 54px;
    width: 100%;
    max-width: 1716px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 22px;
    padding-right: 20px;
    display: flex;
}

.left-side-of-nav-bar{
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.right-side-of-nav-bar{
  justify-content: flex-end;
    align-items: center;
    display: flex;
}

.profile-container-button{
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  display: flex;
  position: relative;
}

.navigation-profile-button{
  background: transparent;
  border: none;
 
}

.fa-solid .fa-user {
   height: 90px;
}

.account-profile-dropdown{
  color: black;
  background: lightgray;

  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  
  width: 100%;
  box-sizing: border-box;

  height: 36px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 10px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  position: sticky;
  top: 0;
  border-radius: 5px;
}

.logout-button-profile{
  background: none;
  border: none;
}

.info-container{
  margin-left: 10px;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    list-style-type: none;
    display: flex;
}