


.input-comment{
    align-items: center;
    display: flex;
}

.input-and-submit{
    border: 1px solid rgba(var(--black),.25);
    height: 80px;
    border-radius: 20px;
    flex: 1;
    margin-left: 10px;
    padding: 0 10px;
    display: flex;
}
.input-to-the-comments{
    color: black;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 0 10px;
    display: flex;
   
}
.the-button-reply{
    cursor: default;
    color: gray;
    box-sizing: border-box;
    font: inherit;
    background: white;
    font-size: 100%;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
}
.view-the-comments-container{
    background: white;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 40px;
    display: flex;
    position: relative;
}

.comment-container-box{
    background-color: white;
    border: 1px solid black .25;
    border-radius: 10px;
    flex-direction: column;
    margin-right: 15px;
    padding: 8px 12px;
    display: flex;
    overflow: hidden;
    border: 1px solid RGB(0, 184, 255);
}
.the-original-poster{
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    color: RGB(0, 184, 255);
    align-items: center;
    margin-bottom: 2px;
    font-size: .78125rem;
    font-weight: 700;
    line-height: 1.44;
    display: flex;
}
.username-for-comment{
    z-index: 1;
    margin-bottom: 2px;
    vertical-align: top;
    display: inline-block;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.the-comment-for-the-comment{
    font-family:  "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    width: 100%;
    color: black;
    min-height: 1.5em;
    word-break: break-word;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.comment-button{
    margin-left: 500px;
}

.drop-down-menu{
    background: white;
    
}

.post-comment-container{
    
    background: white;
}

.delete-button {
    border: none;

    cursor: pointer;
}